<header class="header-6">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <cds-icon shape="network-globe" solid></cds-icon>
        <span class="title">Declutter</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
        <cds-icon shape="user"></cds-icon>
        <span class="nav-text">Babloo</span>
      </a>
    </div>
  </header>